body{
background:#7a0015;
font-family:'Press Start 2P', monospace;
}

.gbc-screen{
background:#9bbc0f;
border:8px solid #306230;
border-radius:12px;
padding:20px;
color:#0f380f;
box-shadow:
inset 0 0 0 4px #8bac0f;
}

.gbc-panel{
background:#8bac0f;
border:3px solid #306230;
padding:12px;
margin-top:15px;
}

.premium-locked{
background:#8bac0f;
border:3px solid #306230;
padding:15px;
margin-top:20px;
}

.lock-line{
background:#306230;
height:12px;
margin:8px 0;
border-radius:3px;
}

.unlock-btn{
background:#0f380f;
color:#9bbc0f;
border:none;
padding:12px;
width:100%;
cursor:pointer;
font-family:'Press Start 2P', monospace;
}
